# requirements.txt

Django>=4.0,<5.0
djangorestframework
psycopg2-binary
django-cors-headers
django-allauth
gunicorn
python-dotenv
psycopg2>=2.9
django
psycopg2
Pillow
google-auth
dj-rest-auth
requests
jwt