.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
.choose-journalist-container {
    text-align: center;
    padding: 20px;
    color: white;
    vertical-align: middle;
    margin-bottom: 40px;
  }
  
  .choose-journalist-container h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .journalist-options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .journalist-option {
    display: flex;
    flex-direction: column;
    width: 150px;
    max-width: 100%; /* Ensures it does not exceed 100% width */
  }
  
  .journalist-logo {
    width: 100%; /* Ensure the logo takes the full width of its container */
    height: auto;
    max-width: 150px;
    object-fit: contain;
  }
  
  .journalist-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .journalist-button:hover {
    background-color: #666;
  }
  
  @media (max-width: 1024px) {
    .journalist-options {
      gap: 30px;
      align-items: center;
    }
  }
  
  @media (max-width: 600px) {
    .choose-journalist-container h1 {
      font-size: 1.8em;
      align-items: center;
    }
  
    .journalist-options {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  
    .journalist-option {
      width: 80%; /* Allow responsive scaling */
      max-width: 200px;
    }
  
    .journalist-logo {
      max-width: 100%; /* Logo will scale based on container width */
    }
  
    .journalist-button {
      max-width: 100%;
      font-size: 1em;
    }
  }
  