/* ChooseJournalist.css */
.journalist-options {
  display: flex;
  justify-content: space-between;
}

.combined-journalist-option {
  display: flex;
  gap: 10px;
}

.journalist-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journalist-icon img {
  width: 50px; /* Adjust size as necessary */
  height: 50px;
}

/* app.js CSS */
/* Position the journalist buttons to the right */
.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journalist-buttons {
  margin-left: auto;
}