.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .coming-soon-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .coming-soon-container p {
    font-size: 1.5em;
    color: #555;
  }
  