.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    text-align: center;
  }
  
  .coming-soon-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #d2d1d1;
  }
  
  .coming-soon-container p {
    font-size: 1.5em;
    color: #d1d0d0;
  }
  