.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .hexagon {
    width: 150px;
    height: 160px;
    background-color: #e50914;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .rating-value {
    font-size: 3rem;
    color: white;
  }
  
  .rating-input {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px; /* Align the input and button height */
  }
  
  .rating-input input {
    font-size: 0.9rem;
    padding: 5px;
    width: 140px;
    text-align: center;
    padding-left: 20px;
    height: 100%; /* Match the button's height */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left */
    outline: none;
  }
  
  .submit-button {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right */
    height: 100%; /* Match the input's height */
    padding: 0 15px; /* Adjust width to make it compact */
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #ff4040;
  }
  
  .submit-button:focus {
    outline: none;
  }
  